<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Customer Sign In</title>
    <style>
      #dark{ color: red;
      font-size:20px;
      }
      #dark:hover{color:white;

      font-size: 22px;
      background-color: skyblue;
      }
      .pt-10{
      padding-top:10%; }
    </style>
  </head>
  <body>



    <span class="border border-dark d-block p-2 bg-primary text-white" >
      <h2 class="text-center">  YOUR NEED IS ON YOUR CLICK</h2>
    </span>
    <div class="pt-10 ">
    <div class="d-flex justify-content-center ">
      <h3 class="m-4">Customer SignIn</h3>

    <form action="/logins/check_customer/" method="post">
      {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary mt-2">Log in</button>
</form>
    </div>
        </div>

  </body>
</html>