<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Successful</title>
    <style>
      #dark{ color: red;
      font-size:20px;
      }
      #dark:hover{color:white;

      font-size: 22px;
      background-color: skyblue;
      }
      .pt-10{
      padding-top:10%; }

      #demo{
      display:none;}
      #have{
      display:none;}
    </style>
  </head>
  <body>


    <span class="border border-dark d-block p-2 bg-primary text-white  align-self-center ">
      <h2 class="text-center">  YOUR NEED IS ON YOUR CLICK</h2>
    </span>
    <div class="d-flex  justify-content-start">
        Hello&nbsp;<strong>{{ h_name }}</strong>
    </div>
    <div class="d-flex  justify-content-end">
        Email:&nbsp;<strong>{{ email }}</strong>
    </div>
    {% if c == 1 %}
    <div class="pt-10 pl-5 ">

    <form action="/logins/helper_done/" method="post">
        {% csrf_token %}
         <div class="form-group ">
             <label for="h_work"> Select your customer:</label>
             <select id="h_work" class="form-control" name="work">
         {% for r in r_work %}{% for i in r_id %}
         <option class="list-group-item list-group-item-action" value="{{ i }}"> {{ r.cid.all }} </option>
         {% endfor %}{% endfor %}
        </select>
         </div>
        <input type="hidden" name="wstatus" id="w_status" value="True">
        <input type="hidden" name="wemail" id="w_email" value="{{ email }}">

         <button type="submit" class="btn btn-primary mt-2">Click here if selected</button>
    </form>
{% elif stat == True %}
<div class="pt-10 pl-5">
      <h3> Your work is not done yet, please complete it and come back</h3>
        <a href="{% url 'logins:index' %}"><button type="button" class="btn btn-secondary">Home</button></a>
  </div>


        </div>
  {% else %}
  <div class="pt-10 pl-5">
      <h3> No need yet, Check after some time...</h3>
        <a href="{% url 'logins:index' %}"><button type="button" class="btn btn-secondary">Home</button></a>
  </div>
{% endif %}
  </body>
</html>